@font-face {
  font-family: 'Inter-SemiBold';
  src: url(./Inter-SemiBold.eot);
  src: url(./Inter-SemiBold.eot?#iefix) format('embedded-opentype'),
       url(./Inter-SemiBold.otf) format('otf'),
       url(./Inter-SemiBold.ttf) format('truetype'),
       url(./Inter-SemiBold.woff) format('woff'),
       url(./Inter-SemiBold.woff2) format('woff2');
}
