// Pet Doc переменные

// Шрифты
$ff-ISB: 'Inter-SemiBold', sans-serif;
$ff-CVF: 'Comfortaa-VariableFont_wght', sans-serif; 

$fw-700: 700;
$fw-600: 600;
$fw-500: 500;
$fw-400: 400;
$fw-300: 300;

$fz-55: 55px;
$fz-50: 50px;
$fz-36: 36px;
$fz-28: 28px;
$fz-24: 24px;
$fz-22: 22px;
$fz-17: 17px;
$fz-16: 16px;
$fz-15: 15px;
$fz-13: 13px;
$fz-12: 12px;
$fz-11: 11px;
$fz-10: 10px;

$lh-20: 20px;
$lh-17: 17px;
$lh-15: 15px;

// цвет

$c-1-43291F: #43291F;
$c-2-948474: #948474;
$c-3-BBB1A8: #BBB1A8;
$c-4-ADC178: #ADC178;
$c-5-CCD6B2: #CCD6B2;
$c-6-F0EAD2: #F0EAD2;
$c-7-F3F1E7: #F3F1E7;
$c-8-FFFFFF: #FFFFFF;
$c-9-B40909: #B40909;
$c-10-rgba: rgba(67, 41, 31, 0.8);
